$main: #2c2c38;
$second: #242430;
$txt: #f5f5f5;
$txt-different: #f5f5f5;
$txt-paragraph: rgb(146, 146, 146);
$accent: #645fc6;
// $hover: #818181; 
$hover: #343442;
$transition-015: all 0.15s ease-in-out;
$transition-03: all 0.3s ease-in-out;
$box-shadow: 0px 1px 5px 1px #0000001e;
$border: 1px solid #3b3b3b;
$modal: rgba(0, 0, 0, .5);


// Light Theme
// $main: #f6f7fb;
// $second: #fff;
// $txt: #4e4e4e;
// $txt-different: #f5f5f5;
// $hover: #c9c9c977;
// $border: 1px solid #d8d8d8;