.aside__menu {
    width: 26rem;
    transition: $transition-03;
    background-color: $main;
    border-right: $border;
    position: relative;

    &-top {
        height: 8rem;
        background-color: $main;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.aside__bottom {
    height: calc(100vh - 8rem);
    position: relative;
    z-index: 8;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    &-heading {
        width: 100%;

        &-info {
            @include flex-row-center-center;

            & h3 {
                font-size: 1.6rem;
                text-transform: uppercase;
                margin: 1.4rem 0;
                width: 50%;
                transition: $transition-03;
                @include margin(2rem, 0rem);

                &:last-child {
                    margin-left: 0rem !important;
                }
            }
        }

        & li {
            margin: .5rem 0;
            width: 28rem;
            height: 4rem;


            & span {
                @include margin(2rem, 0rem)
            }

            &:hover {
                cursor: pointer;
            }
        }

        .create__new {
            color: $accent;
        }

        .create__new-art {
            color: $accent;
            background: linear-gradient(90deg, #00dbde, #fc00ff);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .devider {
        border-bottom: 1px dotted #757575;
        width: 80%;
        height: 1rem;
        margin-bottom: 2rem;
        margin-left: 2rem;
    }

    &-menu {
        width: 100%;
        z-index: 9;
        overflow-y: scroll;
        overflow-x: hidden;



        .h3TextOff {
            transform: translateX(-14.2rem);
            transition: $transition-03;
        }


        & li {
            margin: .5rem 0;
            width: 24rem;
            height: 4rem;
            border-radius: 0 30rem 30rem 0;
            color: $txt-different;
            transition: $transition-015;

            & span {
                @include margin(2rem, 0rem)
            }

            &:hover {
                cursor: pointer;
            }
        }

        .li-active {
            background-color: $accent;
        }

        .li-hover {

            &:hover {
                cursor: pointer;
                background-color: $hover;
            }
        }
    }

    /* Theme Switch */
    .theme__switch {
        @include flex-row-center-center;

        width: 100%;
        height: 5.4rem;
        background-color: $second;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 10;
    }
}

// .closeAsideMenu {
//     min-width: 6rem !important;
//     transition: $transition-03;
// }